header {
    background-color: #2c3e50;
    color: #ecf0f1;
    padding: 20px;
    border-radius: 20px;
}

header.header-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.header-titoli {
    text-align: left;
}

.titoloheader {
    font-family: sans-serif;
    font-size: 32px;
    color: #ffffff;
    margin-bottom: 5px;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 20px;
    color: #333333;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.titolo {
    font-size: 24px;
    font-weight: bold;
    color: #ffffff;
    margin-bottom: 10px;
}

.titoloheader {
    margin-bottom: 2px;
    margin-top: 2px;
}

/* Usare tutto lo spazio*/
main {
    flex: 1;
}

/* Contenitore Setting */
main,
section {
    background-color: #ffffff;
    padding: 20px;
    margin: 15px 0;
    border: 2px solid #9A8363;
    border-radius: 20px;
}

/* Heading Colori */
h1,
h2,
h3,
h4,
h5,
h6 {
    color: #2c3e50;
}

/* Link */
a {
    color: #3498db;
    text-decoration: none;
}

a:hover {
    color: #e74c3c;
    text-decoration: underline;
}

/* Barra laterale */
aside {
    background-color: #ecf0f1;
    padding: 15px;
    margin: 15px 0;
    border-radius: 5px;
}

/* Footer */
footer {
    background-color: #2c3e50;
    color: #ecf0f1;
    padding: 20px;
    text-align: center;
    border-radius: 20px;
    margin-top: auto;
}

/* Banner */
.logo {
    max-width: 100%;
    height: auto;
    width: 150px;
}

